/* Global settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #353535;
    color: #d9d9d9;
}
header,
section {
    padding: 2rem 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    margin: auto;
    width: min(90%, 100rem);
}
button {
    background-color: #284b63;
    color: #d9d9d9;
    font-size: 1.2rem;
    font-weight: 700;
    margin-inline: auto;
    margin-top: 2rem;
    padding: 2rem;
    width: min(90%, 30rem);
    border-radius: 10px;
    outline: none;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}

/* Header Settings */
.head-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    line-height: 2;
}

.head-area h1 {
    font-weight: 700;
    font-size: 4rem;
}
.head-area p {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
}

@media (max-width: 450px) {
    .head-area h1 {
        font-weight: 700;
        font-size: 3rem;
    }
    .head-area p {
        text-align: center;
        font-weight: 400;
        font-size: 1.2rem;
    }
}

/* Quiz Settings */
.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.forms {
    display: flex;
    flex-direction: column;
}
.forms-questions-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #284b63;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding: 1rem;
    max-width: 25rem;
}

.question-image {
    width: 100%;
}

.question-radio label {
   padding: 0.5rem;
   display: flex;
   align-items: center;
   flex-wrap: wrap;  
}

.question-radio input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* Score */

.showResult { 
    text-align: center;  
    border: 2px solid #d9d9d9;
    width: min(90%, 100%);
    background-color: #3f7ba7;
    border-radius: 10px;
    display: block;
    margin-inline: auto;
    padding: 1rem;
}
.showResult h2 {
    font-size: 2rem;
    font-weight: 700;
}
.showResult p {
    font-size: 1.2rem;
    text-decoration: underline;
}